.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.fake-a {
  color: #007bff !important;
  text-decoration: none !important;
  background-color: transparent;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sudoku-box {
  height: 50px !important;
  width: 50px !important;
  cursor: pointer;
}
.card-body {
  padding-top: 5px !important;
  padding: 0.25rem !important;
  font-size: 25px;
}
.note-text {
  font-size: 12px;
  line-height: 11px;
}

@media only screen and (max-width: 500px) {
  .sudoku-box {
    height: 30px !important;
    width: 30px !important;
  }
  .card-body {
    padding: 0.25rem !important;
    font-size: 16px;
  }
  .note-text {
    font-size: 8px;
    line-height: 7px;
  }
}
